<main class="login-container">
  <div>
    <div>
      <img src="/images/logo.png" alt="Logo" />
    </div>
    <form action="/login/password" method="post">
      <section>
        <label for="username">Email</label>
        <input
          id="username"
          name="username"
          type="email"
          autocomplete="username"
          required
          autofocus
        />
      </section>
      <section>
        <label for="current-password">Password</label>
        <input
          id="current-password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
        />
      </section>
      <button type="submit">LOGIN</button>
    </form>
  </div>
</main>