*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

button {
  transition: 0.2 all ease;
}

button:hover {
  opacity: 0.8;
}
